<footer class="container-fluid p-4 shadow-no-hover bg-black f-white">
    <div class="ps-3 p-2 text-center">
        <p class="fw-bold m-0">Places You Can Find Me</p>
    </div>
    <div class="d-flex flex-row w-100 justify-content-center">
        <a href="https://www.twitter.com/TenaciousD_ata" target="_blank" class=" f-size-3 mx-2 mx-lg-4">
            <i class="fab fa-twitter-square"></i>    
        </a>
        
        <a href="https://www.linkedin.com/in/bradley-ables/" target="_blank" class=" f-size-3 mx-2 mx-lg-4">
            <i class="fab fa-linkedin"></i>    
        </a>
        <a href="https://github.com/bradleyables22" target="_blank" class=" f-size-3 mx-2 mx-lg-4">
            <i class="fab fa-github-square"></i>    
        </a>
    </div>
</footer>

@code {

}
