.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    font-size: 1.25rem;
}

.navbar-light .navbar-toggler {
    color: black;
    border-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px;
}

.nav-link:hover,
.nav-link:focus {
    color: rgba(0, 0, 0, 0.85);
}
