@inject NavigationManager navigationManager

<nav class="navbar navbar-expand-lg navbar-dark bg-dark f-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Bradley Ables &#8211 .NET Developer </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse f-white" id="navbarNavDropdown">
      <ul class="navbar-nav f-white">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle f-white" href="/about" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About Me
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              
            <li>
                <a class="dropdown-item" href="software"><i class="fa-solid fa-code"></i> Software Development</a>
            </li>
            <li>
                <a class="dropdown-item" href="leadership"><i class="fa-solid fa-user-tie"></i> Leadership | Operations</a>
            </li>
            <li>
                <a class="dropdown-item" href="military"><i class="fa-solid fa-person-rifle"></i> Military Background</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/resume">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/guests">Guestbook</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

@code {
    
}
