@using Data.Models

@inject NavigationManager navigationManager
@inject Controllers.StarwarsController starWarsController

<nav class="navbar navbar-expand-lg navbar-dark bg-dark f-white p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Bradley Ables &#8211 .NET Developer </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse f-white" id="navbarNavDropdown">
      <ul class="navbar-nav ">
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white;">
            About Me
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              
            <li>
                <a class="dropdown-item" href="software"><i class="fa-solid fa-code"></i> Software Development</a>
            </li>
            <li>
                <a class="dropdown-item" href="leadership"><i class="fa-solid fa-user-tie"></i> Leadership | Operations</a>
            </li>
            <li>
                <a class="dropdown-item" href="military"><i class="fa-solid fa-person-rifle"></i> Military Background</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/resume">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/guests">Guestbook</a>
        </li>
      </ul>
    </div>
    <div class="nav-item center-text justify-content-center">
            @if (voteToggler == Toggle.On)
            {
                <i class="fa-brands fa-sith fa-xl"> @sithCount </i><br/>
                <i class="fa-brands fa-jedi-order fa-xl"> @jediCount</i>
            }
            else
            {
                <p>Cast Your Vote!</p>
                <i class="fa-brands fa-sith fa-xl fa-fade" @onclick="VotedSith">   Sith</i>
                <i class="fa-brands fa-jedi-order fa-xl fa-fade" @onclick="VotedJedi">   Jedi</i>
            }
    </div>
  </div>
</nav>

@code {
    //variables to hold counts
    private int sithCount = 0;
    private int jediCount = 0;

    //Base Toggler
    public enum Toggle {On,Off};
    //Toggle for if they have voted or not
    public Toggle voteToggler = Toggle.Off;

    private async void GetCountsAsync()
    {
        sithCount = await starWarsController.GetSithCountAsync();
        jediCount = await starWarsController.GetJediCountAsync();
    }
    private async void VotedJedi()
    {
        StarWarsAffiliation swa = new StarWarsAffiliation();
        swa.AffilID = 0;
        swa.Affiliation = "j";
        swa.EDT = DateTime.Now;

        bool response = await starWarsController.AddAffiliationAsync(swa);
        if (response)
        {
            voteToggler = Toggle.On;
            GetCountsAsync();
        }
        else
        {
            voteToggler = Toggle.Off;
        }
    }
    private async void VotedSith()
    {
        StarWarsAffiliation swa = new StarWarsAffiliation();
        swa.AffilID = 0;
        swa.Affiliation = "s";
        swa.EDT = DateTime.Now;

        bool response = await starWarsController.AddAffiliationAsync(swa);
        if (response)
        {
            voteToggler = Toggle.On;
            GetCountsAsync();
        }
        else
        {
            voteToggler = Toggle.Off;
        }
    }
}
