@page "/"
@using BlazorTypewriter
<br/>
<br/>
<br/>
<main class="d-flex flex-column w-100 min-vh-90 justify-content-center align-items-center overflow-auto ">
    <div class="container g-0">
        <div class="row g-0">
            <div class="col-lg-6 d-inline-flex flex-column p-5 justify-content-center align-items-center">
                <img src="/img/brad.png" height="300" width="300"/>
            </div>
            <div class="col-lg-6 d-inline-flex flex-column bg-white-94 p-5 shadow-no-hover center-text">
                <h1 class="typer"><Typewriter Builder="@typewriter"/></h1><br/>
                <p>I'm honored you've found your way to my site. I'm a graduate of software development and systems design from Vincennes University that focuses in the .NET framework and Python. Less than a year out of college, I used my stack to build a staffing and operations organization whose employees and proprietary software helped turn the tide of Covid in Southern Indiana.</p>
                <p>I'm currently in search of an organization to continue to hone my skills as a highly motivated, business-minded developer.</p>
                <br/>
                <a href="/about" class="btn btn-primary shadow btn-lg fw-fold mt-4 md-f-size-1-5">
                    <i class="fas fa-info-circle"></i> About Me
                </a>
                <br/>
                <br/>
                <br/>
                <div class="row g-0 justify-content-center align-items-center">
                    <div class="col-lg-2 d-inline-flex flex-column justify-content-center align-items-center">
                        <img src="/img/c.svg" height="50" width="50"/>
                    </div>
                    <div class="col-lg-2 d-inline-flex flex-column justify-content-center align-items-center">
                        <img src="/img/bootstrap-5-1.svg" height="50" width="50"/>
                    </div>
                    <div class="col-lg-2 d-inline-flex flex-column justify-content-center align-items-center">
                        <img src="/img/sqlite.svg" height="50" width="50"/>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/>
        <div class="row g-0 justify-content-center align-items-center">
            <div class="col-lg-4 d-inline-flex flex-column justify-content-center align-items-center"></div>
            <div class="col-lg-4 d-inline-flex flex-column justify-content-center align-items-center">
               <a href="/guests" class="btn btn-dark"><h2>Sign The GuestBook</h2></a>
            </div>
            <div class="col-lg-4 d-inline-flex flex-column justify-content-center align-items-center"></div>
        </div><br/><br/>
        <div class="row g-0 justify-content-center align-items-center">
            <div class="col-lg-4 d-inline-flex flex-column justify-content-center align-items-center"></div>
            <div class="col-lg-4 d-inline-flex flex-column justify-content-center align-items-center center-text">
               <a href="/flappybird">
                   <h2 class="f-white">Play Flappy Bird</h2>
                   <img src="/img/Flappy/flappy-photo.png" height="400" width="200"/>
               </a>
            </div>
            <div class="col-lg-4 d-inline-flex flex-column justify-content-center align-items-center"></div>
        </div>
    </div>
</main>
<br/>
<br/>

<br/>
<br/>
@code
{
    //Used opensource Typewriter. 
    //github.com/ormesam/blazor-typewriter/commit/11025ae103fad55a77c4e200193bf214ebb669d3
    TypewriterBuilder typewriter = new TypewriterBuilder(defaultCharacterPause: 6)
        .TypeString("Bradley Ables")
        .Pause(1000)
        .DeleteAll(30)
        .TypeString(".NET Developer", 50)
        .Pause(1000)
        .DeleteAll(30)
        .TypeString("Twitter: @TenaciousD_ata", 50)
        .Pause(1000)
        .DeleteAll(30)
        .TypeString("Discord: TenaciousD_ata#3302", 50)
        .Pause(1000)
        .DeleteAll(30)
        .Loop();

}