@page "/military"

<br/>
<br/>
<main class="d-flex flex-column w-100 min-vh-90 justify-content-center align-items-center overflow-auto ">
    <div class="container g-0">
        <div class="row g-0">
            <div class="col-lg-6 d-inline-flex flex-column p-5 justify-content-center align-items-center">
                <div class="flex justify-content-center align-items-center">
                    <img src="/img/864th.png" width="300" height="300"/>
                </div>
            </div>
            <div class="col-lg-6 d-inline-flex flex-column p-5 justify-content-center align-items-center">
                <div class="flex justify-content-center align-items-center">
                    <img src="/img/617th-removebg.png" width="300" height="300"/>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row g-0">
            <div class="col-lg-12 d-inline-flex flex-column p-5 center-text center-text f-white">
                <div class="flex justify-content-center">
                    <h1>864th Engineer Battalion</h1>
                    <h2>617th Engineer Company</h2>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row g-0">
            <div class="col-lg-3 d-inline-flex flex-column p-5 center-text center-text f-white">
                <div class="flex justify-content-center">
                     <img src="/img/Adapt.png" width="200" height="200"/>
                </div>
            </div>
            <div class="col-lg-3 d-inline-flex flex-column p-5 center-text center-text f-white">
                <div class="flex justify-content-center">
                     <img src="/img/WorkEthic.png" width="200" height="200"/>
                </div>
            </div>
            <div class="col-lg-3 d-inline-flex flex-column p-5 center-text center-text f-white">
                <div class="flex justify-content-center">
                     <img src="/img/Communication.png" width="200" height="200"/>
                </div>
            </div>
            <div class="col-lg-3 d-inline-flex flex-column p-5 center-text center-text f-white">
                <div class="flex justify-content-center">
                     <img src="/img/Conflict.png" width="200" height="200"/>
                </div>
            </div>
        </div>


        <div class="row g-0">
            <div class="col-lg-6 d-inline-flex flex-column p-5 ">
                <img src="/img/fixxers.jpeg" /><br/>
                <img src="/img/truck.jpg" /><br/>
                <img src="/img/teardown.jpg" /><br/>
            </div>
            <div class="col-lg-6 d-inline-flex flex-column p-5 center-text bg-white-94 justify-content-center align-items-center">
                <h1>Forged in Fire & Sand</h1><br/>
                <h3>Hard work & dedication to the project at hand. This is the driving force of an Army Engineer. While in Afghanistan myself and those serving within my command were tasked with various and numerous missions with the over-all objective of tactically removing equipment, structures, and improvisions that would otherwise could fall into the hands of the enemy as NATO/ISAF forces pulled make from the East over the foothills of the himalayas.</h3>
                <h3>This was done without access to support, often fending for ourselves at the what seemed to be the edge of the world.</h3>
                <h3>Through trial of fire I became the leader I am today.</h3>
                <h3>These soft-skills continue on with me now in my professional civilian career.</h3>
            </div>
        </div>
        <br/>
        <br/>
    </div>
</main>
<br/>

@code {

}
