.resume-doc {
    height:1056px;
    width:100%;
    padding:0px;
    margin:0px;
}

.resume-full-sized {
    width:90%;
    height:1056px;
}
.rounded {
    border-radius:20px;
}
.con {
}
.mb-s {
    margin-bottom:5%;
}
mt-s {
    margin-top:5%;
}